@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
// @include font("icons", "icons", "400", "normal");
// @import "icons";
* {
				padding: 0;
				margin: 0;
				border: 0;
}

*, *::before, *:after {
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
}

:focus, :active {
				outline: none;
}

a:focus, a:active {
				outline: none;
}

nav, footer, header, aside {
				display: block;
}

html, body {
				height: 100%;
				width: 100%;
				font-size-adjust: 100%;
				line-height: 1;
				font-size: 14px;
				-ms-text-size-adjust: 100%;
				-moz-text-size-adjust: 100%;
				-webkit-text-size-adjust: 100%;
}

input, button, textarea {
				font-family: inherit;
}

input::-ms-clear {
				display: none;
}

button {
				cursor: pointer;
}

button::-moz-focus-inner {
				padding: 0;
				border: 0;
}

a, a:visited {
				text-decoration: none;
}

a:hover {
				text-decoration: none;
}

ul li {
				list-style: none;
}

img {
				vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
				font-size: inherit;
				font-weight: 400;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	color: #fff;
	background: #fff;
	font-weight: 400;
}

body._lock {
	overflow: hidden;
}

$monserat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;
$kaushan: "Kaushan Script", cursive;

  
/* _________________________________________________________________________________________________________________________________________________ */


.wrapper {
	min-height: 100%;
	overflow: hidden;
}

._container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ____HEADER_______________________________________________________________________________________________________________________________________ */


.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;

	background-color: rgba(238, 201, 136, 0.541);
}

.header__container {
	display: flex;
	min-height: 84px;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
}

.header__logo {
	position: relative;
	font-size: 30px;
	color: #fff;
	font-weight: 700;
	z-index: 100;
}
@media (max-width: 767px) {
	.header__logo {
		padding-left: 15px;
	}

}
.header__logo
.header__menu {
	margin: 0 0 0 100px;
}

.menu {
	padding: 5px 0;
}



.menu__sub-list {
	display: block;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #333;
	padding: 15px;
	min-width: 200px;
	> li {
		margin: 0 0 10px 0;
	}
	:last-child {
		margin: 0 0 0 0;
	}
}

.menu__sub-link {
	color: #fff;
	
	transition: all 0.2s linear;
}
.menu__sub-link:hover {
	color: #fce38a;
	text-decoration: underline;
}

.menu__arrow {
	display: none;
}

.menu__icon {
	display: none;
}

.menu__item:not(:last-child) {
	margin-right: 58px;
}

@media (min-width: 768px) {
	.menu__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.menu__list > li {
		padding: 10px 0;
	}
	.menu__sub-list {
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		transition: all 0.2s ease 0s;
	}
}

@media (max-width: 767px) {
	.menu__icon {
		z-index: 50;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon:before,
	.menu__icon:after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.menu__icon:before,
	.menu__icon:after {
		content: " ";
	}
	.menu__icon:before {
		top: 0;
	}
	.menu__icon:after {
		bottom: 0;
	}

	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu__icon._active span{
		transform: scale(0) translate(0px, -50%);
	}

	.menu__icon._active:before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active:after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: rgba(51, 51, 51, 0.836);
		padding: 100px 30px 30px 30px;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}

	.menu__body._active {
		left: 0;
	}

	.menu__body:before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 70px;
		background: rgba(238, 201, 136, 0.541);
	}

	.menu__list > li {
		flex-wrap: wrap;
		margin: 0 0 20px 0;
	}

	.menu__list > li:last-of-type {
		margin-bottom: 0;
	}
	.menu__list > li._active .menu__sub-list {
		display: block;
	}
	.menu__link {
		font-size: 24px;
	}

	.menu__sub-list {
		position: relative;
		background: #fff;
		flex: 1 1 100%;
		margin-top: 20px;
		display: none;
	}
	.menu__sub-link {
		font-size: 20px;
		color: #333;
	}
}

// =================================================

body._pc .menu__list > li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menu__list > li {
	display: flex;
	align-items: center;
}
body._touch .menu__arrow {
	display: block;
	transition: transform 0.3s ease 0s;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 10px solid #fff;
	margin: 0 0 0 5px;
}

body._touch .menu__link {
	flex: 1 1 auto;
}

body._touch .menu__list > li._active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
	transform: rotate(-180deg);
}

// =================================================


.menu__link {
	line-height: 140%;
	color: #fff;
	font-weight: inherit;
	text-transform: uppercase;
	transition: all 0.2s ease;
	position: relative;
}
.menu__link::after {
	content: "";
	position: absolute;
	background: #fce38a;
	width: 100%;
	height: 3px;
	bottom: -12px;
	left: 0;
	opacity: 0;
	transition: all 0.2s ease;
}

.menu__link:hover::after {
	opacity: 1;
}



.menu__link:hover {
	color: #fce38a;
}


.menu__list > li {
	position: relative;
}


/* ____HEADER BLOCK_______________________________________________________________________________________________________________________________________ */

.header-block {
	text-align: center;	
	padding: 90px 0 80px 0;
	position: relative;
	z-index: 10;
}
.header-block__suptitle {
	font-size: 24px;
	font-family: "Kaushan Script", cursive;
	color: #333;
}
.header-block__suptitle:not(last-child) {
	margin: 0 0 20px 0;
}
.header-block__title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}
.header-block__title:not(last-child) {
	margin: 0 0 45px 0;
}

.header-block__title::after {
	content: "";
	background: #f38181;
	width: 60px;
	height: 3px;
	margin: 40px auto 0 auto;
	display: block;
}
.header-block__text {
	font-size: 15px;
	line-height: 24 / 15 * 100%;
	color: #999999;
}

/* ____MAIN_______________________________________________________________________________________________________________________________________ */

.page__main-block {
	text-align: center;
}

.main-block {
	position: relative;
	z-index: 1;
}

.main-block__body {
	padding: 230px 0 0 0;
	position: relative;
	z-index: 5;
}
.main-block__suptitle {
	font-family: "Kaushan Script", cursive;
	font-size: 72px;
}
@media (max-width: 1024px) {
	.main-block__suptitle {
		font-size: 57px;
	}
}

@media (max-width: 768px) {
	.main-block__suptitle {
		font-size: 45px;
	}
}
@media (max-width: 533px) {
	.main-block__suptitle {
		font-size: 27px;
	}
}
@media (max-width: 359px) {
	.main-block__suptitle {
		font-size: 22px;
	}
}
.main-block__title {
	font-size: 150px;
	font-weight: 700;
	line-height: 107%;
	position: relative;
	text-transform: uppercase;
	z-index: 5;
}

@media (max-width: 1024px) {
	.main-block__title {
		font-size: 120px;
	}
}
@media (max-width: 768px) {
	.main-block__title {
		font-size: 96px;
	}
}
@media (max-width: 533px) {
	.main-block__title {
		font-size: 58px;
	}
}
@media (max-width: 359px) {
	.main-block__title {
		font-size: 46px;
	}
}

.main-block__title::after {
	content: "";
	background: #fff;
	width: 60px;
	height: 3px;
	margin: 60px auto 0 auto;
	display: block;
	// position: absolute;
	// top: 0;
	// left: 0;
	z-index: 50;
}
.main-block__buttons {
	margin: 60px 0 197px 0;
}
.main-block__link {
	color: inherit;
	border: 3px solid #fff;
	padding: 10px 40px;
	text-transform: uppercase;
	transition: all 0.2s ease;
}

@media (max-width: 533px) {
	.main-block__link {
		padding: 8px 30px;
		font-size: 12px;
	}
	
}

.main-block__link:hover {
	color:#fce38a;
	border-color: #fce38a;
}
.main-block__slider {
	display: flex;
	padding: 0 0 25px 0;
		a {
			text-decoration: none;
			color: inherit;
			text-transform: uppercase;
			font-size: 12px;
		}
}

.main-block__slider_element {
	position: relative;
	width: 280px;
	text-align: left;
	display: inline-block;
}

.main-block__slider_element:not(last-child) {
	margin-right: 30px;
}
.main-block__slider_element::before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 280px;
	height: 3px;
	background: #fff;
	
}
.main-block__slider_element:active::after {
		content: "";
		position: absolute;
		top: -25px;
		left: 0;
		width: 60px;
		height: 3px;
		background: #f38181;
}
.main-block__slider_num {
	font-size: 17px;
	font-weight: 700;
}

.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0; 
	z-index: 0;	
}
/* ____AboutUs_______________________________________________________________________________________________________________________________________ */

.aboutUs__container {
	align-items: center;
	max-width: 1200px;
}

.aboutUs__header {
	position: relative;
	z-index: 0;

}
.aboutUs__body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	// position: relative;
	// z-index: 5;
	overflow: hidden;
	// width: 1220px;
	// min-height: 800px;

}
/* ____AboutUs__IMG_______________________________________________________________________________________________________________________________________ */

.aboutUs__img {
	padding-bottom: 110px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media (max-width: 767px) {
	.aboutUs__img-block {
		margin: 0 auto;
		
	}
	.aboutUs__img-block:not(:last-of-type) {
		margin-bottom: 12px;
	}
	.aboutUs__img {
		justify-content: center;
		
	}
}

.aboutUs__img-name {
	position: relative;
	bottom: 100px;
	left: 50%;
	z-index: 10;
}

.aboutUs__img-block {
	background: #b5eae0;
	max-height: 250px;
}
.aboutUs__img-block:hover .aboutUs__img-items {
	transform: translate3d(-10px, -10px, 0);
}
.aboutUs__img-items {
	display: block;
	max-width: 380px;
	height: 250px;
	position: relative;
	transition: all 0.2s linear;


	img {
		transition: all 0.1s linear;
	}
}

.aboutUs__img-items:hover::after {
	content: "";
	color: #333;
	display: none;
	background-image: url(img/USERS.png);
	position: absolute;
	width: 120px;
	height: 60px;
	top: 40%;
	left: 38%;
	z-index: 20;
}

.aboutUs__img-items:hover {
	background: linear-gradient(to bottom, #f38181, #fce38a);
	img {
		opacity: 0.1;
	}
	position: relative;
}

.aboutUs-img-item {
	display: block;
	max-width: 100%;
	margin: none;
}

.aboutUs__img-items .img-title {
	display: none;
	position: absolute;
	top: 45%;
	left: 35%;

	color: #fff;
	font-family: $monserat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.aboutUs__img-items:hover .img-title {
	display: block;
}

.aboutUs__img-items:hover img.title-icon-item {
	opacity: 1;
	display: block;
	text-align: center;
	margin: 0 auto 5px auto;
}


/* ____AboutUs__Adventages_______________________________________________________________________________________________________________________________________ */
.counts_block {
	background-color: #95e1d3;
}
.aboutUs_counts__block {
	display: flex;
	justify-content: space-around;
	>:first-child {
		border-left: 1px solid #b5eae0;
	}
}
.aboutUs__column {
	display: block;
	width: 240px;
	height: 270px;
	border-right: 1px solid #b5eae0;

	
}
.aboutUs__item {
	margin: 85px 0;

}
.counts-name {
	color: #fff;
	font-family: $monserat;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.aboutUs__value {
	color: #fff;
	font-family: $monserat;
	font-size: 72px;
	font-weight: bold;
	text-align: center;

	margin-bottom: 24px;
}

@media (max-width: 767px) {
	.aboutUs__value {
		font-size: 46px;
		margin-bottom: 15px;
	}
	.counts-name {
		font-size: 12px;
	}
	.aboutUs__column {
		height: 180px;
	}
	.aboutUs__item {
		margin: 50px 0;
	}
}

@media (max-width: 468px) {
	.aboutUs__value {
		font-size: 32px;

	}
	.aboutUs__item {
		margin: 24px 0;
	}
	.aboutUs__column {
		height: 120px;
	}
}


/* ____Services_______________________________________________________________________________________________________________________________________ */

.page__Services {
	// position: relative;   - для БГ
	background-color: inherit;
}

.Services__container {
	padding-bottom: 70px;
}
.Services__header {
	padding-bottom: 0;
}

.Services__list-block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
@media (min-width: 768px) {
	.Services__list-block:not(:last-of-type) {
		border-bottom: 1px solid #e5e5e5;
	}
}
.Services__items {
	display: flex;
	flex: 0 0 33.3%;
	align-self: start;
	padding: 0 0 0 25px;
	margin: 0 0 50px 0;
		@media (max-width: 767px) {
			flex: 0 0 100%;
		}
}
.Services__items {
	margin-top: 50px;
}
@media (max-width:767px) {
	.Services__items {
		margin: 25px 0;
	}
}
.Services__img {
	padding: 3px 0 0 0;

}
.Services__text-block {
	margin: 0 0 0 25px;

}
.cards-text__block h2 {
	color: #333;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	text-transform: uppercase;

	margin: 0 0 15px 0;
}
.cards-text__block p {
	color: #9f9f9f;
	font-size: 14px;
	line-height: 160%;
}

/* ____Unique-Design_______________________________________________________________________________________________________________________________________ */
/* Devices */

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
}

.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;

    background: url("img/gbUniqueDesign.jpg") center no-repeat;
    background-size: cover;
}

.images-item2 {
	position: absolute;
	display: block;
	width: 200px;
	height: 440px;
	bottom: -100px;
	left: 700px;
	z-index: 10000000000;
}
@media (max-width: 767px) {
	.images-item2 {
		display: none;
	}
}

/* ____What-we-do_______________________________________________________________________________________________________________________________________ */

.page__What-we-do {
	margin-bottom: 120px;
	position: relative;
	z-index: 20;

}

@media (min-width: 1160px) {
	.What-we-do__main-block {
		display: flex;
		justify-content: space-between
	}
	.What-we-do__main-block_items {
		flex: 0 1 50%;
		margin-left: 5px;
	}
}
.What-we-do__main-block_img img {
	max-width: 100%;
}
.main-block_img {
	text-align: center;
	// overflow: hidden;
}

@media (max-width: 1159px) {
	.What-we-do__main-block_items {
		margin-top: 10px;
	}
}




/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.main-block__items {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
		h3 {
			padding: 20px;
			color: #a6a6a6;
			font-family: "Roboto", sans-serif;
			font-style: italic;
			font-weight: 300;
			line-height: 160%;
			border: 1px solid #e5e5e5;
		}
}
.main-block__button {
	text-align: left;
	padding: 15px;
	border: 1px solid #e5e5e5;
	background: #fff;
	position: relative;
	h2 {
		text-transform: uppercase;
		display: inline-block;
		align-items: center;
		margin: 7.5px 0 7.5px 16px;
		position: relative;
	}
	img {
		display: inline-block;
		min-width: 32px;
		height: 32px;
	}
}
.main-block__button::after {
		content: "";
		background-image: url(img/nav/nav-services-arrow.svg);
		width: 22px;
		height: 20%;
		position: absolute;
		top: 40%;
		right: 5%;
		background-repeat: no-repeat;
		z-index: 20;
}
.main-block__button._active::after {
	transform: rotate(180deg);
}


/* ____SLIDER_______________________________________________________________________________________________________________________________________ */
/* ____SLIDER_______________________________________________________________________________________________________________________________________ */

.slider {
	background-color: #f8f8f8;
}
.swiper {
	max-width: 1200px;
}

.swiper-container {

	height: 290px;
	padding: 0 5px;
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-slider {
	display: flex;
	align-items: center;
	max-width: 1200px;
}
.content-slider {
	p {
		font-family: "Kaushan Script", cursive;
		font-size: 24px;
		color: #333333;
		position: relative;
		margin-left: 70px;
		margin-top: 10px;
	}
	p::before {
		content: "";
		position: absolute;
		top: 14px;
		left: -70px;
		width: 60px;
		height: 3px;
		background-color: #f38181;
	}
}

.slider-text {
	color: #999999;
	margin-left: 60px;
	max-width: 767px;
	line-height: 36px;
	text-align: left;
	font-family: "Roboto", sans-serif;
	font-style: italic;
}
.swiper-button-prev:after,
.swiper-button-next:after {
	color: #ccc;
}


.swiper-button-prev,
.swiper-button-next {
	width: 12px;
	height: 24px;
}
.swiper-pagination-bullet-active {
	background-color: #e0c52c;
}

/* ____SLIDER_______________________________________________________________________________________________________________________________________ */
/* ____SLIDER_______________________________________________________________________________________________________________________________________ */


/* ____MEET-OUR-TEAM_______________________________________________________________________________________________________________________________________ */
.meet-our-team__body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow: hidden;

}


.meet-our-team__images-block {
	display: flex;
	justify-content: space-between;

	margin-bottom: 110px;
}

.meet-our-team__images-block img {
	max-width: 100%;
}

.meet-our-team__images-block-items {
	background: #95e1d3;
	margin-left: 10px;
}

body .meet-our-team__images-block-items:hover {
	.meet-our-team__images-block-item {
		transform: translate3d((calc(-2px - 8 * ((100vw - 320px)) / (1980 - 320))), (calc(-2px - 8 * ((100vw - 320px)) / (1980 - 320))), 0);
		
		img{
			opacity: 0.1;
			transition: opacity .2s linear;
		}
	}
}

.meet-our-team__images-block-item {
	transition: all 0.2s linear;
	background: linear-gradient(to bottom, #f38181, #fce38a);
	position: relative;
}

body .meet-our-team__images-block-items .sn__block {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 45%;
	left: 22%;
}

body .meet-our-team__images-block-items .sn__block {
	bottom: 45%;
	left: 22%;
}


@media (max-width: 767px) {
	.meet-our-team__images-block-items .sn__block {
		left: 18%;
	}
}

.meet-our-team__images-block-items .sn-icons {
	display: block;
	text-align: center;
	font-size: 45px;
	color: #f38181;
	background-color: #fce38a;
	max-width: 55px;
	max-height: 55px;
	padding: 7px;
	z-index: 20;

	opacity: 0;
	transition: opacity 0.2s linear;
}

.meet-our-team__images-block-items:hover .sn-icons {
	opacity: 1;
}

.sn-icons {
	transition: 0.3s linear;
}

body .sn-icons:active, .sn-icons:hover {
	color: #fff;
	background-color: #f38181;
	transition: all 0.2s linear;
}

.meet-our-team__images-block-items:hover .sn__block :not(:last-child) {
	border-right: 1px solid #f38181;
}




/* ____MEET-OUR-TEAM_______________________________________________________________________________________________________________________________________ */


/* ____BRANDS-BLOCK_______________________________________________________________________________________________________________________________________ */



.brands__block {
	background-color: #f8f8f8;
	width: 100%;
	height: 100%;
}
.brands__container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.brands-img__item {
	max-width: 100%;
	max-height: 100%;
	padding: 51.5px 0;
	background-color: #f8f8f8;
}

/* ____BRANDS-BLOCK_______________________________________________________________________________________________________________________________________ */



/* ____Gallery_______________________________________________________________________________________________________________________________________ */

.our-works-gallery {
	// display: flex;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
	overflow: hidden;
	// flex-wrap: wrap;
	position: relative;
	// justify-content: center;

	
}

.our-works-gallery_item {
	display: inline-block;
	overflow: hidden;
	height: 390px;
	// flex: 24%;
	z-index: 5;
	// position: relative;
}

.our-works-gallery__block {
	position: relative;
}

.our-works-gallery_item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 20;
}

.gallery-item-hover {
	display: none;
}

.our-works-gallery-3rd-flex__block {
	grid-column: span 1;
	grid-row: span 2;
}
// .our-works-gallery:only-child {
// 	display: inline-block;
// 	max-height: 390px;
// }
// .gelly {
// 	max-height: 390px;
// 	min-width: 480px;
// }


// .our-works-gallery-1st-flex__block {
// 	max-height: 390px;
// }
// .our-works-gallery-2nd-flex__block {
// 	max-height: 390px;
// }
// .our-works-gallery-3rd-flex__block {
// 	height: 390px;
// }
// .our-works-gallery-4th-flex__block {
// 	max-height: 390px;
// }
// .our-works-gallery-5th-flex__block {
// 	max-height: 390px;
// }
// .our-works-gallery-6th-flex__block {
// 	max-height: 390px;
// }
// .our-works-gallery-7th-flex__block {
// 	max-height: 390px;
// }

/* ____Gallery_______________________________________________________________________________________________________________________________________ */



/* ___Slider2_______________________________________________________________________________________________________________________________________ */
.swiper2-container {
	height: 410px;
}
.slider2 {
	background-color: #fff;
	max-height: 410px;
}

.slider2-img_item {
	border-radius: 50%;
	max-width: 210px;
	height: 210px;
}

/* ___Slider2_______________________________________________________________________________________________________________________________________ */

/* ___Reviews_______________________________________________________________________________________________________________________________________ */

.page__reviews {
	position: relative;
	overflow: hidden;
	padding-bottom: 130px;
}

.reviews__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0; 
	z-index: -1;
	object-fit: cover;
}
.reviews__flex-block {
	display: flex;
}
.reviews__flex-block {
	padding: 65px;
}

.reviews__items {
	display: flex;
}
.reviews__items img {
	border-radius: 50%;
	width: 110px;
	height: 110px;
}
.reviews__text-block {
	margin-left: 30px;
	margin-top: 15px;
	h2 {
		font-weight: 700;
	}
	h3 {
		color: #646464;
		font-family: "Roboto", sans-serif;
		font-style: italic;
		position: relative;
		margin-bottom: 50px;
	}
	h3::after {
		content: "";
		position: absolute;
		bottom: -20px;
		left: 0;
		height: 3px;
		width: 60px;
		background-color: #f38181;
	}

}
/* ___Reviews_______________________________________________________________________________________________________________________________________ */


/* ___Our stories(start)_______________________________________________________________________________________________________________________________________ */

.our-stories_img__block {
	margin-bottom: 110px;
}
.our-stories_img-items-block {
	display: flex;
	align-items: stretch;
	justify-content: space-between;

	padding-bottom: 50px;
	a {
		color: inherit;
	}
}
.our-stories_img-item {
	position: relative;
	flex: 1 1 33.3%;

	transition: all 0.2s linear;
}

.our-stories_img-item:hover {
	background-color: #eefdfa;
	// border: 0.5px solid #69fadf;
}

.img-item {
	position: relative;
	margin-bottom: 20px;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}
.our-stories_img-item {
	display: block;
	padding-left: 1%;
	margin-left: 5px;
}

.img-date {
	display: block;
	position: absolute;
	top: 60%;
	left: -2%;
	width: 15%;
	height: 30%;
	padding-top: 10px;
	z-index: 20;

	font-size: 30px;
	font-family: $monserat;
	font-weight: bold;
	text-align: center;
	background-color: #95e1d3;
	p {
		font-size: 18px;
		font-family: $roboto;
		font-weight: 400;
		font-style: italic;
	}
}
.img-title { 
		font-size: 14px;
		font-family: "Montserrat";
		color: rgb(51, 51, 51);
		text-transform: uppercase;
		line-height: 1.2;
		text-align: left;

		padding-bottom: 20px;
}
.img-description {
		font-size: 15px;
		font-family: "Roboto";
		color: rgb(153, 153, 153);
		line-height: 1.6;
		text-align: left;	
		padding-bottom: 50px;  
}
.counts {
	border-top: 1px solid #e5e5e5;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	padding-left: 12px;
	div {
		display: inline-block;
		padding-top: 20px;
		padding-bottom: 10px;

		transition: all .2s linear;
	}
}
.counts-wiews {
	color: #333;
}

._icon-comments {
	color: #95e1d3;
  }

._icon-wiews {
	color: #95e1d3;
}

.counts_num {
	color: #a6a6a6;
}

/* ___Our stories(end)_______________________________________________________________________________________________________________________________________ */

/* ___Map (start)_______________________________________________________________________________________________________________________________________ */
.open-map-page {
	background-image: url(img/open-map/map-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.open-map-container {
	display: block;

	height: 200px;
	width: 100%;
}

.open-map-item__block {
	display: block;
	padding: 58.5px;

	div {
		display: block;
		margin: 0 auto;
		text-align: center;
		color: #f38181;
		font-size: 30px;
		font-family: $monserat;
		font-weight: bold;
		text-transform: uppercase;
		transition: all 0.2s linear;
	}
}

.open-map-item__block:hover div {
	font-size: 35px;
}

.open-map_text {
	padding-top: 5px;
	position: relative;
	display: block;
}

.open-map_text:after {
	content: "";
	display: block;
	background-color: #f38181;
	margin: 30px auto 0 auto;
	width: 60px;
	height: 3px;
	z-index: 20;
}

// .open-map-location {
// 	display: block;
// 	margin-bottom: 20px;
// }

/* ___Map(end)_______________________________________________________________________________________________________________________________________ */



/* ____FOOTER_______________________________________________________________________________________________________________________________________ */
/* ================================= describe ======================= */

.footer-block {
	color: #333;
	display: flex;
	justify-content: space-between;
	padding-top: 75px;
	>div {
		margin-left: 10px;
	}
	>h2 {
		padding-left: 20px;
	}
}

.footer-describe__block {
	flex: 0 1 42%;
}
.footer-describe-title-item {
	color: #cccccc;
	font-family: $monserat;
	font-weight: bold;
	line-height: 1.2;
	font-size: 46px;
	padding-bottom: 35px;  
}
.footer-describe-item {
	color: #cccccc;
	font-family: $roboto;
	font-weight: 400;
	line-height: 1.2;
	font-size: 15px;
}
.footer-describe-followers-item {
	font-size: 18px;
	font-family: $monserat;
	color: rgb(51, 51, 51);
	font-weight: 400;
	line-height: 1.2;
	text-align: left;

	padding: 50px 0 20px 0;
	border-bottom: 1px solid #e5e5e5;
}
.followers-num {
	font-weight: 700;
}
.follow-us__block {
		font-size: 15px;
		font-family: "Roboto";
		color: rgb(153, 153, 153);
		font-style: italic;
		font-weight: light;
		line-height: 1.6;
		text-align: left;

		display: block;
		height: 64px;
		a {
			height: 25px;
		}
		div {
			display: inline-block;
			color: #95e1d3;
			transition: all 0.2s linear;
			height: 30px;
			// width: 21px;
		}
		div._icon:hover {
			color: #f38181;
			font-size: 21px;
		}

		padding-bottom: 40px;
}

.follow-us__title {
	display: inline-block;
	padding-top: 10px;
}

.follow-us__items {
	display: block;
	width: 100%;
	height: 70px;
}


input[type="email"] {
	border: 1px solid #e7e7e7; //цвет рамки
	border-radius: 1px; //закругление углов (общее)
	-webkit-border-radius: 1px; //закругление углов (Google Chrome)
	-moz-border-radius: 1px; //закругление углов (FireFox)
	-khtml-border-radius: 1px; //закругление углов (Safari)
	background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
	outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
	height: 40px; // высота на свое усмотрение
	width: 230px; // ширина на свое усмотрение
	color: #333; //цвет шрифта в обычном состоянии
	font-size: 15px; // Размер шрифта
	font-family: $roboto; // Стиль шрифта
	font-style: italic;
	font-weight: light;
	margin: 0;
	:focus {
		color: #cfcfcf;
	}

}

input[type="button"] {
	background: #95e1d3;
	width: 150px;
	height: 40px;
	font-size: 14px;
	font-family: $monserat;
	font-weight: bold;
	color: #fff;
	margin: 0;

	transition: all 0.2s linear;
}
input[type="button"]:hover {
	width: 152px;
		height: 42px;
		color: #5af1cc;
		background-color: #d6f7f1;
}

/* ================================= describe(end) ======================= */

/* ================================= blogs(start) ======================= */

.footer-blogs-block {
	flex: 0 1 29%;
	>h2 {
		font-family: $monserat;
		font-weight: 700;
		font-size: 14px;
		color: #333333;
		text-transform: uppercase;
		line-height: 1.2;
		text-align: left;

		padding-bottom: 40px;
	}
}
.blogs-img-items {
	display: flex;
	justify-content: space-between;
}
.blogs-img-image {
	display: block;
	flex: 0 1 30%;
	
}
.blogs-img-text {
	flex: 0 1 70%;
	padding: 0 0 30px 0;
	margin-left: 20px;
	>h2 {
		font-family: $monserat;
		font-weight: bold;
		font-size: 12px;
		line-height: 1.66;
		text-transform: uppercase;

		padding-bottom: 3px;
	}
	>p {
		font-size: 13px;
		font-family: $roboto;
		color: rgb(153, 153, 153);
		font-style: italic;
		line-height: 1.846;
		text-align: left;
	}
}

/* ================================= blogs(end) ======================= */

/* ================================= instagram(start) ======================= */

.footer-instagram-block {
	flex: 0 1 29%;

	>h2 {
		font-family: $monserat;
		font-weight: 700;
		font-size: 14px;
		color: #333333;
		text-transform: uppercase;
		line-height: 1.2;
		text-align: left;

		padding: 0 0 40px 65px;
	}
}
.footer-instagram-img-items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(90px, 90px));

	padding-left: 65px;
}
.footer-instagram-img-item {
	padding: 1px 0;
}
.footer-instagram-more-photos {
	font-size: 13px;
	font-family: $roboto;
	color: #4c4c4c;
	font-style: italic;
	line-height: 1.846;
	text-align: left;

	padding-left: 65px;
}



/* ================================= instagram(end) ======================= */

.copywright-block {
	font-size: 14px;
	font-family: $monserat;
	color: rgb(51, 51, 51);
	line-height: 1.2;
	font-weight: bold;
	text-align: center;
	  
	text-align: center;
	border-top: 1px solid #e5e5e5;
	padding: 25px 0;
	a {
		color: #f38181;
	}
}

/* ____FOOTER_______________________________________________________________________________________________________________________________________ */
