@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$kaush: 'Kaushan Script', cursive;
$mon: 'Montserrat', sans-serif;
$rob: 'Roboto', sans-serif;

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

h2 {
    color: #333;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    line-height: 1;
    z-index: 1003;
}
h3 {
    color: #333;
    font-size: 24px;
    font-family: $kaush;
    line-height: 1;
    padding: 0 0 20px 0;
    z-index: 1003;
}


// Container
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


// Intro 
.intro {
    width: 100%;
    height: 100vh;
    
    background: url(/img/body-bg.jpg) center no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    
}
.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
.intro__suptitle {
    font-family: $kaush;
    font-size: 72px;
    color: #fff;
    text-transform: none;
    
}
.intro__title {
    font-family: $mon;
    font-size: 145px;
    font-weight: 700;
    line-height: 140px;
    color: #fff;
    text-transform: uppercase;
    margin: 15px 0 0 0;
    position: relative;
}
.intro__title:after {
    content: "";
    width: 60px;
    height: 3px;
    background: #fff;
    display: block;
    margin: 60px auto;
    margin-bottom: 100px; 
}


// Header
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 30px 0 0 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;


}
.header__inner__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

// Nav
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}
.nav__link:after {
    content: "";
    display: block;
    background-color: #fff;
    opacity: 0;
    width: 100%;
    height: 3px;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition-property: opacity .1s linear;

}

.nav__link:hover:after {
    content: "";
    background-color: #fce38a;
    opacity: 1;
}
.nav__link:hover {
    color: #fce38a;
}

// Button

.btn {
    display: inline-block;
    text-align: center;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
// Slider

.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

}
.slider__inner {
    display: flex;
    justify-content: space-between;

}
.slider__item {
    font-size: 18px;
    color: #fff;
    padding: 15px 0 0 0;
    width: 23%;
    border-top: 3px solid #fff;

    
    position: relative;


}
.slider__num {
    font-size: 24px;
    font-weight: 700;
}

.slider__item:active:before {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: -3px;
    bottom: 20px;
    left: 0;
}

.slider__item:before:hover {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: -3px;
    bottom: 20px;
    left: 0;
    z-index: 1001;
}

// About Us ///

.about__us {
    background-color: #fff;
    width: 100%;
    height: 75vh;
    position: relative;
}
.container {
}


.about__us__inner {
    text-align: center;
    
}


.about__us__suptitle {
    margin: 110px 0 0 0;

}
.about__us__title {

}
.about__us__text {
    max-width: 900px;
    display: inline-block;

    font-family: $rob;
    color: #999;
    font-size: 14px;
}
.about__us__title:after {
    content: "";
    background-color: #f38181;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    display: block;
    position: relative;
}


.about__us__footer {


}
.about__us {

}
.about__us__image {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 0 0;
        div {
            width: 380px;
            height: 250px;
            position: relative;
            z-index: 1000;
            padding: 0 3px 3px 0;
        }
}
.about__us__image__item1 {
    background-color: #95e1d3;
    position: relative;
}
.about__us__image__item1:before {
    content: "";
    background: url(/img/1st_picture_aboutUs.png) no-repeat;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    z-index: 1001;

    text-align: center;
}
.about__us__image__item2 {
    background-image: url(/img/aboutUs2nd.jpg);
}
.about__us__image__item3 {
    background-image: url(/img/aboutUs3d.jpg);
}



// About Us Footer

.about__us__count__inner {
    display: inline-block;
    white-space: nowrap;
    
}
.about__us__count__items {
    display: inline-block;
    width: 230px;
    padding: 50px 0 40px 0;
    height: 100%;
    border-left: 1px solid #b5eae0;
    padding: auto 0;

    text-align: center;
    font-family: $mon;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;

    position: relative;
}
.about__us__count__num {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    z-index: 1001;
}

.about__us__count__inner:last-child {
    border-right: 1px solid #b5eae0;
    position: relative;
}

.about__us__count {
    margin: 110px 0 0 0;
    width: 100%;
    height: 228px;
    background-image: url(/img/bgAboutUsCounts.png);

}


// amaizing services

.amaizing__services {
    background: #fff;
    width: 100%;
    z-index: 0;
}
.amaizing__services__inner {
    width: 100%;
    padding-top: 365px;
    text-align: center;

}

.amaizing__services__suptitle {
}
.amaizing__services__title:after {
    content: "";
    background-color: #f38181;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    display: block;

}


.amazing__services__elements1 {
    display: flex;
    justify-content: space-around;
    margin: 30px 0 100px 0;
    text-align: left;
        h3 {
            font-size: 14px;
            font-family: $mon;
            color: #333;
            font-weight: 700;
            text-transform: uppercase;
        }
        p {
            font-family: $rob;
            font-size: 15px;
            color: #999;
        }
        div {
            padding-left: 30px;
        }
}

.amazing__services__elements2 {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding-bottom: 122px;
        h3 {
            font-size: 14px;
            font-family: $mon;
            color: #333;
            font-weight: 700;
            text-transform: uppercase; 
        }
        p {
            font-family: $rob;
            font-size: 15px;
            color: #999;
        }
        div {
            padding-left: 30px;
        }
}

.amazing__services__element__Photography {
    width: 280px;
    height: auto;
    position: relative;
}

.amazing__services__element__Photography:before {
    content: "";
    background: url(/img/clock.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3px;
    left: -20px;
}

.amazing__services__element__Web__Design {
    width: 280px;
    height: auto;
    position: relative;
}
.amazing__services__element__Web__Design:before {
    content: "";
    background: url(/img/LINE_GRAPH.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3px;
    left: -20px;
    z-index: 1001;

}
.amazing__services__element__Creativity {
    width: 280px;
    height: auto;
    position: relative;
}

.amazing__services__element__Creativity:before {
    content: "";
    background: url(/img/COMPUTER_/_OK.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3px;
    left: -20px;

}

.amazing__services__element__seo {
    width: 280px;
    height: auto;
    position: relative;
}
.amazing__services__element__seo:before {
    content: "";
    background: url(/img/BOOK_2.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3px;
    left: -20px;

}
.amazing__services__element__Css__Html {
    width: 280px;
    height: auto;
    position: relative;
}
.amazing__services__element__Css__Html:before {
    content: "";
    background: url(/img/HOME.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3px;
    left: -20px;

}
.amazing__services__element__digital {
    width: 280px;
    height: auto;
    position: relative;
}

.amazing__services__element__digital:before {
    content: "";
    background: url(/img/IMAGE.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3px;
    left: -20px;
}

// Unique Design

.unique__design {
    width: 100%;
    height: 85vh;
    background: url(/img/gbUniqueDesign.jpg) no-repeat;
    background-size: cover;
    z-index: 1000;

}

.unique__design__inner {
    text-align: center;
    h3 {
        font-size: 24px;
        font-family: $kaush;
        color: #333;
        text-align: center;
    }
    h2 {
        font-style: $mon;
        font-size: 30px;
        color: #333;
        font-weight: 700;
        text-align: center;
    }
}

.unique__design__inner__suptitle {
}

.unique__design__inner__title {
}
.unique__design__inner__title:after {
    content: "";
    background: #f38181;
    width: 60px;
    height: 3px;
    display: block;
    margin: 40px auto;
}

.unique__design__img {
    position: relative;
    // margin: 0 30%;
    // display: flex;
    // justify-content: center;
    // bottom: 0;
    // left: 50%;
    // object-position: center;

}

.unique__design__img__item {
    position: absolute;
    top: 0;
    left: 0;
    // margin: 20% 0 0 30%;
    // margin: -195px -110px 0 0px;
    
}

.unique__design__img__item2 {

    position: absolute;
    top: 0;
    left: 0;
    // display: flex;
    // justify-content: center;
    // padding: 0 0 500px 0;
    // position: absolute;
    // bottom: -64%;
    // right: 0;
    // left: 40%;
    // z-index: 1100;
}

// .unique__design__img__item::after {
//     content: "";
//     position: absolute;
    

// what we do

.what__We__do {
    background: #fff;
    width: 100%;
    height: 100hv;

}
.what__We__do__inner {
    z-index: 1001;
    padding: 110px;
    h3 {
        font-size: 24px;
        font-family: $kaush;
        color: #333;
        text-align: center;
    }
    h2 {
        font-style: $mon;
        font-size: 30px;
        color: #333;
        font-weight: 700;
        text-align: center;
    }
    h3:after {
        background: #f38181;
        width: 60px;
        height: 3px;
        margin: 45px auto;
        z-index: 1002;
    }
}